version: "3.9"

services:
  db:
    image: mysql:8
    container_name: little_refugees-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: little_refugees-backend
    environment:
      DB_HOST: db
      DB_USER: myuser
      DB_PASSWORD: mypass
      DB_NAME: mydb
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  db_data:
