name: Build & Push to Docker Hub

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Backend
      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/little_refugees-backend:latest ./backend

      - name: Push backend
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/little_refugees-backend:latest
